@font-face {
    font-family: "SF Espresso Shack";
    src: url("fonts/SFEspressoShack.ttf");
}

@font-face {
    font-family: "STRATEGYCIDE";
    src: url("fonts/STRATEGYCIDE.ttf");
}

.btn-sq-lg {
  overflow:visible;
  font-size:50px;
  white-space: pre-wrap;
  word-break: keep-all;
}

.header {
    background-color: #230E0B;
    text-align: center;
    padding: 30px;
}

.header h1 {
    color: white;
    font-family: "SF Espresso Shack", Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.ui-overlay-a {
    padding: 20px;
    background-color: #C28B64;
}

.ui-page {
    background-color: #C28B64;
}

.plus,
.plus:hover,
.plus:focus {
    background-color: #965A3E;
    border-color: #965A3E;
    font-family: "STRATEGYCIDE", Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    line-height: 1;
    height: 200px;
    padding: 15px;
}

.minus,
.minus:hover,
.minus:focus {
    background-color: rgba(255, 255, 255, 0.3);
    font-family: "STRATEGYCIDE", Arial, Helvetica, sans-serif;
    font-size: 80px;
    height: 200px;
    color: white;
}

.ok,
.ok:hover,
.ok:focus {
    width: 100vw;
    height: 180px;
	font-size: 50px;
    font-family: "STRATEGYCIDE", Arial, Helvetica, sans-serif;
    background-color: #230E0B;
    border-top: 5px solid white;
    font-size: 120px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.ok-spacing {
    height: 180px;
}

.item {
    font-family: "STRATEGYCIDE", Arial, Helvetica, sans-serif;
    font-size: 60px;
    background-color: #C28B64;
    color: white;
    padding: 10px 25px;
}

.item-count {
    font-family: "STRATEGYCIDE", Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #ddd;
    text-align: right;
}

.cell {
    margin: 10px 20px;
}

.text-center-container
{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.cold,
.cold:hover,
.cold:focus {
    background-color: #618FCA;
    border-color: #618FCA;
}
.hot,
.hot:hover,
.hot:focus {
    background-color: #B61E23;
    border-color: #B61E23;
}
.misc,
.misc:hover,
.misc:focus {
    background-color: #965A3E;
    border-color: #965A3E;
}

.legend {
    margin: 10px 20px;
    font-family: "STRATEGYCIDE", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
}

.close-legend {
    float: right;
    width: 0;
    height: 0;
    overflow: visible;
    position: relative;
}

.close-legend-btn {
    position: absolute;
    right: 5px;
}